
.review-card {
  background-color: #2b2b2b !important;
  border: 1px solid #92FF71;
  margin-bottom: 15px;
  color: white;
  width: 100%;
}
.review-avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.rating-stars {
  display: block;
  font-size: 1.2rem;
  color: gray;
  margin-top: 5px;
}
.rating-stars .filled {
  color: gold;
}
.review-comment {
  margin-top: 5px;
  font-size: 0.95rem;
}
.review-date {
  color: #aaa;
}
