.new-project-container {
  width: 80%;
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 40px;
  margin: 30px auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px
}

.title-divider {
  width: 600px;
  height: 2px;
  background-color: white;
  border: none;
  margin-bottom: 40px;
}

.form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border: 1px solid #92FF71;
  border-radius: 10px;
  padding: 15px;
}

.form-group,
.inner-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: -5px
}

input,
textarea,
select {
  background-color: #4A4A4A;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
}

textarea {
  resize: none;
}

.general-form{
  border: 1px solid #92FF71;
  border-radius: 10px;
  padding: 15px;
}

.specific-form {
  border: 1px solid #92FF71;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

.image-preview {
  width: 80%;
  height: 200px;
  background-color: #f4f4f4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  text-align: center;
  color: gray;
}

.file-input {
  margin-top: 10px;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.create-button,
.cancel-button {
  background-color: #92FF71;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-button:hover {
  background-color: #92FF71;
}

.cancel-button {
  background-color: #a6f79a;
}

.page-end-space {
  height: 40px;
}
