<div class="form-container">
  <h1 class="title">{{"publication.new" | translate}}</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <p class="field-label">{{"publication.title" | translate}}</p>
    <input matInput formControlName="title" required class="title-input">

    <p class="field-label">{{"publication.comment" | translate}}</p>
    <textarea matInput formControlName="comment"
              rows="4"
              class="comment-input"
    ></textarea>


    <p class="field-label">{{"publication.image" | translate}}</p>
    <input class="image-input"
           type="file"
           accept="image/*"
           (change)="onFileSelected($event)"/>


    <div class="preview">
      @if (preview){
        <img [src]="preview"  width="200" />
      }
    </div>

    <div class="actions">

      <button mat-raised-button color="primary" class="cancel-button" (click)="cancel()">
        {{"publication.cancel" | translate}}
      </button>

      <button mat-raised-button color="primary" type="submit" class="submit-button" [disabled]="form.invalid">
        {{"publication.create" | translate}}
      </button>
    </div>



  </form>
</div>


